
form{
border: white 1px solid;
background-color:#161b22;
border-radius: 6px;
}


body{
   background-color: black;
}
@media screen and (max-width: 480px) {
   body {
     background-color: lightgreen;
   }
 }
