h1{
    text-align: center;
  /*  background-color:rgba(22, 223, 223, 0.877);*/
    color:black;
    width: 150px;
    margin-left: 43%
}

.contain{
    margin-left: 10%;
    background-color: white;
   margin-right :5%;
   
    font-size: x-large;
    /*border-bottom: solid 5px black;*/
   /* border: black 2px solid;*/
    margin-top: 3%;
   /* background-color:rgba(22, 223, 223, 0.877);*/
    padding-right: 9%;
    
}

form{
    background-color:rgba(22, 223, 223, 0.877);
    
}