*
.a{
    /*padding-left: 700px;*/
    text-align:right;
    padding-right: 250px;
}
.container{
    padding-left: 15%;
    background-color: white;
   /* margin-right : 15%;*/
    margin-top: 0%;
    font-size: x-large;
    border-bottom: solid 5px black;
    border: black 2px solid;
    margin-top: 3%;
    background-color:rgba(22, 223, 223, 0.877);
}
.l{
    border: 2px solid black;
    margin-left: 92%;
    width: 100px;
    text-align: center;
    margin-top: 1px;
}
h1{
    text-align: center;
    background-color: rgba(22, 223, 223, 0.877);
    color:black;
    width: 150px;
    margin-left: 43%
    
}
body{
background-color:rgba(22, 223, 223, 0.877);
}
.l:hover{
    background-color: white;
    color: darkslateblue;
    font-style: italic;
}